body {
    background: #0b132b;
    color: white;
    font-family: Arial;
    text-align: center;
    padding: 50px;
}

form {
    width: 300px;
    margin: auto;
    padding: 20px;
    background: #1c2541;
    border-radius: 10px;
}

input, button {
    width: 90%;
    padding: 8px;
    margin: 8px;
    border-radius: 5px;
}

button {
    background: #3a506b;
    color: white;
    border: none;
}
